---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script
			async
			is:inline
			src="https://cdn.anychart.com/releases/8.13.0/themes/dark_glamour.min.js"
		></script>
		<style>
			html,
			body,
			#container {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<div id="message-box">
			<span id="message"></span>
		</div>
		<div id="container"></div>
	</body>
</html>
<script>
	import anychart from "anychart";
	import { actions } from "astro:actions";

	const { error, data } = await actions.showDiagram();

	const $messageBox = document.querySelector("#message-box")!;
	const $message = document.querySelector("#message")!;
	const boxErrorStyles = [
		"position:absolute",
		"inset:0",
		"background-color:rgba(2,21,38,0.9)",
		"display:grid",
		"place-items:center",
		"z-index:99999",
	];
	const messageErrorStyles = [
		"color:#d21312",
		"font-size:28px",
		"font-weight:800",
	];

	anychart.onDocumentReady(function () {
		if (error) {
			$messageBox?.classList.add(...boxErrorStyles);
			$message?.classList.add(...messageErrorStyles);
			$message.textContent = error.message;
		} else {
			$messageBox?.classList.remove(...boxErrorStyles);
			$message?.classList.remove(...messageErrorStyles);
			// apply coffee theme
			anychart.theme(anychart.themes.darkGlamour);

			// apply dark blue theme
			//anychart.theme(anychart.themes.darkBlue);
			const chart = anychart.venn(data);

			chart.container("container");

			// configure labels of circles
			chart.labels().format("{%name}");

			// configure labels of intersections
			chart.intersections().labels().format("{%name}");

			// configure tooltips of circles
			chart.tooltip()
				.fontSize(20)
				.titleFormat("{%tooltipTitle}")
				.format("{%tooltipDesc}");

			// configure tooltips of intersections
			chart.intersections()
				.tooltip()
				.fontSize(20)
				.titleFormat("{%tooltipTitle}")
				.format("{%tooltipDesc}");

			chart.tooltip()
				.titleFormat("{%tooltipTitle}")
				.format("{%tooltipDesc}");

			chart.draw();
		}
	});
</script>
